<!-- The Modal -->
<div [id]="id" class="ng-modal">

  <!-- Modal content -->
  <div class="ng-modal-content" tabindex="1" [style]="{width: width || '80%', minWidth: '300px'}">
    <div style="display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: baseline; margin-bottom: 15px">
      <span>&nbsp;</span>
      <span class="modal-title">{{title}}</span>
      <span class="modal-close" (click)="hide()">[&times;]</span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

</div>
