/*body {font-family: Droid Sans Mono, sans-serif;}*/

.ng-modal.visible {
  display: block;
}

.ng-modal .modal-title {
  font-size: 26px;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.8;
}

.modal-close:hover,
.modal-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
