/*

Polygon Template

https://templatemo.com/tm-400-polygon

*/

html, body {
  font-family: DejaVu Sans Mono, sans-serif;
  padding: 0px;
  margin: 0px;
  color: #e7e7e7;
  /*background: #393e42;*/
  font-size: 12px;

}

section.background {
  content: "";
  background: url("../images/cool-honeycomb-wallpaper-1.jpg") #393e42 no-repeat fixed center center;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -9999;
  /*filter: blur(3px);*/
}

app-root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blue {
  color: #0CF;
}

.green {
  color: #0F0;
}

.red {
  color: red;
}

a {
  color: #b69e40;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

a:active, a:focus {
  color: #b69e40;
  border: none;
  text-decoration: none;
}

button:focus {
  border: none;
  outline: none;
}

p {
  color: #aeb5ba;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DejaVu Sans Mono, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.5em;
  color: #ffffff;
  /*background: #343537;*/
  padding: 10px 8px;
  float: left;
}

h2 {
  font-size: 24px;
  color: #ffffff;
}

h3 {
  text-align: center;
  font-size: 16px;
}

/*img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}*/
.clear {
  clear: both;
}

.container-fluid {
  margin: 15px auto;
}

/* Menu */
span.fa {
  width: 100%;
  text-align: center;
}

.site-header .main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}

.site-header .main-navigation {
  display: block;
  text-align: center;
  padding: 0px 0px;
}

.site-header .main-navigation ul li {
  display: inline-block;
  margin-left: 1px;
}

.site-header .main-navigation ul li:last-child {
  margin-right: 0px !important;
}

.site-header .main-navigation ul li a {
  padding: 20px 20px;
  display: inline-block;
  color: white;
  font-size: 16px;
  background: #343536;
  text-transform: uppercase;
}

.site-header .main-navigation ul li a.active {
  color: #b69e40;
  text-decoration: none;
}

.site-header .templatemo_logo {
  margin-top: 60px;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}

a.menu-toggle-btn {
  padding: 12px 0;
  display: block;
  color: white;
  font-size: 24px;
}

.responsive-menu {
  display: none;
  background: #343536;
}

.responsive_menu {
  display: none;
  background-color: #2a2a2a;
}

.responsive_menu ul li {
  display: block !important;
  margin: 0 !important;
  border-bottom: 1px solid #444444;
}

.responsive_menu ul li a {
  padding: 15px 0 !important;
  display: block !important;
}

.templatemorow {
  margin: 0px 30px;
}

.templatemo_servicerow {
  margin: 0px;
}

.blok {
  position: absolute;
}

.s_top {
  margin-top: 8%;
}

.smallhexagon {
  width: 40px;
  height: 46px;
  background: #b69e40;
  position: relative;
  background: url(../images/templatemo_teamhexa.png) no-repeat;
  margin-bottom: 10px;
}


.hexagon-a a.hlinktop:hover .hexa-a {
  background: #cfb652;
  color: #fff;
}

.hexagonservices {
  height: 160px;
  margin-top: 60px;
}

.hexagonservices a.hlinkbott {
  margin: 0 auto;
  display: block;
  min-width: 120px;
  position: relative;
}

.hexagonservices a.hlinkbott:hover .hexa {
  background: #b69e40;
}

.templatemo_servicetext {
  float: left;
  margin-top: 230px;
}

.templatemo_hexservices {
  width: 20%;
  margin-top: -10%;
}

.templatemo_hexservices p {
  text-align: center;
}

/* ---- Small Hexa ----*/
.hex_footer {
  width: 46px;
  height: 40px;
  position: relative;
  background: url(../images/templatemo_footerhexa.png) no-repeat;
}

a:hover .hex_footer {
  background: url(../images/templatemo_teamhexa_hover.png) no-repeat;
}

.hex_footer span.fa {
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
}

/*------------------------------------------------------
	Gallery Styles
--------------------------------------------------------*/

.templatemo_gallerygap {
  /*margin-bottom: 10%;*/
}

.templatemo_gallerygap span.fa {
  font-size: 22px;
  margin-bottom: 15px;
}

.templatemo_contacttitle {
  font-size: 16px;
  color: #ffffff;
}

.templatemo_contactmap {
  width: 332px;
  height: 388px;
  margin: 0 auto;
}


.templatemo_contactmap img {
  position: absolute;
  top: 0px;
  left: 29px;
}

.templatemo_address ul {
  float: left;
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.templatemo_address ul li {
  list-style: none;
  display: inline;
  padding: 0px;
  float: left;
}

.templatemo_address ul li.left {
  float: left;
  width: 40px;
  color: #b69e40;
  font-size: 22px;
}

.templatemo_address ul li.rigth {
  float: left;
}

.templatemo_address ul li.clear {
  height: 10px;
  width: 100%;
}

.templatemo_form {
  width: 100%;
}

.templatemo_form input {
  float: left;
  height: 34px;
  padding: 6px 12px;
  border-radius: 0px;
  background: #343536;
  border: 1px solid #4b5257;
  width: 100%;
  margin-top: 10px;
  color: #cccccc;
}

.templatemo_form textarea {
  float: left;
  padding: 6px 12px;
  height: 130px;
  border-radius: 0px;
  background: #343536;
  border: 1px solid #4b5257;
  margin-top: 10px;
  color: #cccccc;
}

.templatemo_form button.btn-primary {
  float: left;
  width: 100%;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  border-radius: 0px;
  background: #b69e40;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.templatemo_contactmap {
  width: 332px;
  height: 388px;
  float: left;
}

.templatemo_contactmap img {
  position: absolute;
  width: 332px;
  height: 388px;
  top: 0px;
  left: 15px;
}

#templatemo_map {
  width: 100%;
  height: 388px;
}

.templatemo_footer {
  background: #343536;
  padding: 20px 0px;
  width: 100%;
  /*margin-top: 100px;*/
  position: fixed;
  bottom: 0;
}

.templatemo_footer .hex_footer {
  float: left;
  margin-right: 5px;
  height: 40px;
}

.content {
  display: none;
  height: auto;
}

.homepage {
  display: block;
}

.leftalign {
  float: left;
}

/* ====================== Modal window ====================== */

/* The Modal (background) */

.ng-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}
/* Modal Content */

.ng-modal-content {
  position: relative;
  font-family: DejaVu Sans Mono, sans-serif;
  font-size: 16px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  /*width: 80%;*/
}
.ng-modal-content .btn {
  background-color: transparent;
  color: white;
}

.ng-modal-content label {
  color: wheat;
}

.ng-modal-content input, .ng-modal-content textarea, .ng-modal-content select {
  background-color: transparent;
  color: white;
}

.ng-modal legend {
  color: wheat;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-grab {
  cursor: grab !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
