<div id="gallery-frame">
  <div id="gallery-scroll">
    <div *ngFor="let group of groups">
      <div class="grid">
        <ul id="hexGrid">
          <li *ngFor="let application of group.applications; let $index = index;" class="hex"
              [class.online]="application.isOnline"
              [class.offline]="!application.isOnline">
            <div class="hexIn">
              <a class="hexLink" appModalShow="app-{{group.id}}-{{$index}}">
                <div class='img' style='background-image:url({{application.image}});'>
                  <!--            <img src="assets/images/Regular_hexagon.svg" alt="" style="transform: rotate(30deg); width: 100%; height: 100%">-->
                </div>
                <h1 id="demo1">{{application.name}}</h1>
              </a>
              <app-modal id="app-{{group.id}}-{{$index}}" width="60%">
                <div class="project-preview">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="project-preview-main">
                        <div class="project-preview-logo" style="background: url({{application.image}})">

                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-md-push-1 col-lg-push-1">
                      <div class="preview-content">
                        <div class="row buffered-row">
                          <div class="col-lg-12">
                            <h2>{{application.name}}</h2>
                          </div>
                        </div>
                        <div class="row buffered-row">
                          <div class="col-lg-12">
                            <span>Status: </span>
                            <span *ngIf="application.isOnline" class="green">Online</span>
                            <span *ngIf="!application.isOnline" class="red">Offline</span>
                          </div>
                        </div>
                        <div class="row buffered-row text-left">
                          <div class="col-lg-12 text-left">
                            <a [href]="application.link" target="_blank"><em>{{application.link}}</em></a>
                          </div>
                        </div>
                        <div class="row buffered-row">
                          <div class="col-lg-12">
                            <p>{{application.description}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </app-modal>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


