<div class="main-container">
  <div class="site-header">
    <div class="main-navigation">
      <div class="container">
        <div class="row templatemo_gallerygap">
          <div class="col-md-12 responsive-menu">
            <a href="#" class="menu-toggle-btn">
              <i class="fa fa-bars"></i>
            </a>
          </div> <!-- /.col-md-12 -->
          <div class="col-md-6 col-sm-12">
            <a href="#">
              <h1 class="logo" style="display: flex; flex-wrap: nowrap; justify-content: left">
                <span>D</span>
                <span>B</span>
                <span>&nbsp;</span>
                <span>P</span>
                <span>r</span>
                <span><img src="assets/images/templatemo_footerhexa.png" alt=""></span>
                <span>d</span>
                <span>u</span>
                <span>c</span>
                <span>t</span>
                <span>i</span>
                <span><img src="assets/images/templatemo_footerhexa.png" alt=""></span>
                <span>n</span>
              </h1>
            </a>
          </div>
          <div class="col-md-6 col-sm-12 main_menu">
          </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.main-navigation -->
  </div> <!-- /.site-header -->

  <!-- content start -->
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <div class="site-footer">&nbsp;</div>
  <app-static-dialog></app-static-dialog>
</div>
