@font-face {
  font-family: Carbon-BL;
  src: url("src/assets/fonts/Carbon/CarbonBl-Regular 900.ttf") format("truetype");
}

@font-face {
  font-family: Carbon-Phiber;
  src: url("src/assets/fonts/Carbon/CarbonPhyber-Regular 400.ttf") format("truetype");
}

@font-face {
  font-family: Reflected;
  src: url("src/assets/fonts/Reflected/Reflected 400.otf") format("opentype");
}

@font-face {
  font-family: Reflected-Italic;
  src: url("src/assets/fonts/Reflected/Reflected Italic 400.otf") format("opentype");
}

h1.logo {
  /*transform: skewY(-15deg);*/
  font-size: 60px;
  font-family: Reflected, sans-serif;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.app-content {
  flex-grow: 1;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-height: 100%;
  position: relative;
  display: block;
}

.app-content::-webkit-scrollbar {
  display: none;
}

.site-header {
  flex-shrink: 0;
}

.site-footer {
  flex-shrink: 0;
}
