<div class="container-large admin-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <div class="list-group admin-route-menu">
        <a routerLink="/admin/projects" class="list-group-item active">Applications</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
      <div class="admin-route-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
