.admin-container {
  position: relative;
}
.container-large {
  width: 95%;
  margin: 0 auto;
}

.admin-route-content {
  color: black;
}

.admin-route-menu {
  font-size: 18px;
}

.scrollable {
  overflow-y: auto;
  max-height: 500px;
}
