<app-modal [id]="modalId" doNotMove="true" width="50%" [onShow]="show()" [title]="message?.title">
  <div class="row">
    <div class="col-lg-12 dialog-content">
      <p>{{message?.message}}</p>
    </div>
  </div>
  <div class="dialog-footer">
    <button class="btn btn-success" (click)="hide('accept')">Ok</button>
    <button class="btn btn-default" (click)="hide('reject')" *ngIf="message?.type == 4">Cancel</button>
  </div>
</app-modal>
