<div class="panel panel-default">
  <div class="panel-heading" style="position: sticky">
    <h3 class="panel-title">Manage projects</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <!-- TAB NAVIGATION -->
        <ul class="nav nav-tabs" role="tablist">
          <li *ngFor="let group of groups; let $index = index;" [class.active]="$index === activeTab"
              (click)="activeTab = $index">
            <a data-target="#tab{{$index}}" role="tab" data-toggle="tab" class="cursor-pointer">{{group.name}}</a>
          </li>
          <li>
            <a role="button" appModalShow="admin-group-edit-modal" (click)="setEditGroup(null)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- TAB CONTENT -->
        <div class="tab-content">
          <div *ngFor="let group of groups; let $index = index;" [class.active]="$index === activeTab"
               class="tab-pane fade in" id="tab{{$index}}">
            <div class="row" style="padding: 15px 0">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                   style="display: flex; justify-content: right; align-items: center">
                <button class="btn btn-default" appModalShow="admin-group-edit-modal" (click)="setEditGroup(group)">
                  <i class="fa fa-gear"></i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="scrollable">
                  <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                      <th class="col-md-1">Logo</th>
                      <th class="col-md-3">Name</th>
                      <th class="col-md-5">Description</th>
                      <th class="col-md-4">Link</th>
                      <th class="col-md-1">Actions</th>
                    </tr>
                    </thead>
                    <tbody cdkDropList (cdkDropListDropped)="changeApplicationOrder($event)">
                    <tr *ngFor="let application of group.applications; let $index = index" cdkDrag class="application-row cursor-grab">
                      <td>
                        <div class="admin-projects-logo" style="background-image: url({{application.image}})"></div>
                      </td>
                      <td>{{application.name}}</td>
                      <td>{{application.description}}</td>
                      <td><a [href]="application.link" target="_blank">{{application.link}}</a></td>
                      <td>
                        <div style="display: inline-flex; align-content: center; justify-content: space-between">
                          <button type="button" class="btn btn-default" (click)="setEditApplication(application)"
                                  appModalShow="admin-manage-project-modal">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-danger" (click)="removeApplication($index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" (click)="setEditApplication(null)" appModalShow="admin-manage-project-modal">
      New application
    </button>
  </div>
</div>
<!-- Edit application modal -->
<app-modal id="admin-manage-project-modal" width="50%">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <label for="admin-project-load-logo" id="admin-project-edit-logo"
             style="background-image: url({{selectedApplication.image}})">
        <span *ngIf="!selectedApplication.image">Image can be here</span>
      </label>
      <br>
      <div style="display: flex; justify-content: center">
        <label for="admin-project-load-logo" class="btn btn-primary" style="cursor: pointer">Browse</label>
        <input id="admin-project-load-logo" type="file" class="btn" accept="image/*" (change)="setImage($event)"
               style="display: none">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label for="input-project-name">Project name</label>
          <input type="text" class="form-control" id="input-project-name" [(ngModel)]="selectedApplication.name">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label for="input-project-link">Link</label>
          <input type="text" class="form-control" id="input-project-link" [(ngModel)]="selectedApplication.link">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" *ngIf="selectedApplication.id">
          <label for="input-project-group">Group</label>
          <select id="input-project-group" class="form-control" [(ngModel)]="selectedApplication.group">
            <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="input-project-description">Description</label>
          <textarea class="form-control" type="text" id="input-project-description"
                    [(ngModel)]="selectedApplication.description"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-manage-modal-footer">
    <button class="btn btn-success" (click)="saveSelectedApplication()" appModalHide="admin-manage-project-modal">Save
    </button>
    <button class="btn btn-default" appModalHide="admin-manage-project-modal">Cancel</button>
  </div>
</app-modal>

<!--  Edit group modal  -->
<app-modal id="admin-group-edit-modal" width="50%" title="Manage group">
  <div class="form-group">
    <label for="group-name">Group name</label>
    <input type="text" class="form-control" id="group-name" placeholder="Input..."
           [(ngModel)]="selectedGroup.name">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="selectedGroup.hideName">
        <span>Hidden name</span>
        <span>&nbsp;</span>
        <span><em>(Means that name won't being shown on the main page)</em></span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="group-description">Group description</label>
    <textarea class="form-control" name="" id="group-description" placeholder="Input..."
              [(ngModel)]="selectedGroup.description"></textarea>
  </div>
  <div class="form-group">
    <div class="btn-toolbar">
      <button type="button"
              class="btn btn-primary"
              appModalHide="admin-group-edit-modal"
              (click)="saveSelectedGroup()">
        Apply
      </button>
      <button type="button" class="btn btn-default" appModalHide="admin-group-edit-modal">Cancel</button>
      <button type="button" class="btn btn-danger"
              *ngIf="selectedGroup.id"
              appModalHide="admin-group-edit-modal"
              appModalShow="admin-group-delete-modal">
        Remove
      </button>
    </div>
  </div>
</app-modal>
<!-- Delete group ask modal -->
<app-modal id="admin-group-delete-modal" width="40%" title="Warning!"
           appNgInit [values]="{removeOption: 0}" #appNgInit="appNgInit">
  <div>
    <div class="form-group text-center">
      <h2>Do you really want to remove group '{{selectedGroup.name}}'?</h2>
    </div>
    <div *ngIf="groups.length > 1">
      <div class="form-group text-center">
        <p>Group has applications. What do you want to do?</p>
      </div>
      <div class="form-group text-center">
        <select class="form-control" [(ngModel)]="appNgInit.values['removeOption']">
          <option value="0">Delete all</option>
          <option *ngFor="let group of groups; let $index = index" [value]="group.id" [hidden]="group.id === selectedGroup.id">Move all to: '{{group.name}}'</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="display: flex; justify-content: center">
      <div class="btn-toolbar">
        <button class="btn btn-danger" appModalHide="admin-group-delete-modal" (click)="removeSelectedGroup(appNgInit.values['removeOption'])">Remove</button>
        <button class="btn btn-default" appModalHide="admin-group-delete-modal">Cancel</button>
      </div>
    </div>
  </div>
</app-modal>
