.panel {
  margin: 0;
}
.admin-projects-logo {
  width: 50px;
  height: 50px;
  background-attachment: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.scrollable {
  overflow-y: auto;
  max-height: 60vh;
  height: 60vh;
}

.admin-manage-modal-footer {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 15px;
}

#admin-project-edit-logo {
  width: 100%;
  height: 200px;
  background-attachment: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.admin-manage-modal-footer button {
  margin: 5px;
}
